<div style="margin-top:2%;" class=" mx-auto col-md-2 col-md-offset-4 d-inline-block text-center mx-auto border border-info flex-column flex-shrink-0">
  <form>
  <div class="form-row ">
    <div class="form-group">
      <label for="inputEmail4">Numero da turma </label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Número da turma">
    </div>
    <div class="form-group">
      <label for="inputPassword4">Discplina</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Discplina">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group">
      <label for="inputCEP">Número de alunos</label>
      <input type="text" class="form-control" id="Número de alunos" placeholder="Número de alunos">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top:2%;">Cadastrar</button>
</form>
</div>