<form class="form-inline">
    <label class="sr-only" for="inlineFormInputName2">Alunos</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Fulano">
  
    <label class="sr-only" for="inlineFormInputGroupUsername2">Numero de alunos</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Número de alunos</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Número de">
    </div>
  
    <div class="form-check mb-2 mr-sm-2">
      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
      <label class="form-check-label" for="inlineFormCheck">
        Lembrar de mim
      </label>
    </div>
  
    <button type="submit" class="btn btn-primary mb-2">Enviar</button>
  </form>